@charset "utf-8";
/* typeB-1column css */

/* html
------------------------------*/
html {
  font-size: 62.5%;
  /*HTMLのデフォルトのフォントサイズ16pxを10pxに変更（基準）*/
  /* 以降 1rem=10px  1.6rem=16px */
}


/* body
------------------------------*/
body {
  background-color: #ffcccc;
}

/* wrapper
------------------------------*/
.wrapper {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; */
  width: 1200px;
  margin: 0px auto;
  background-color: #ffeeee;
}

/* header
------------------------------*/
header {
  width: 100%;
  padding: 10px 20px 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  /* 固定 */
  top: 0;
  /* 固定の位置 */
  display: flex;
  justify-content: space-between;
}

header h1 {
  width: 250px;
  font-size: 18px;
  line-height: 43px;
  font-weight: 700;
  letter-spacing: -0.04em;
  background-image: url(../images/logo_mark.svg);
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding-left: 45px;
  color: #333(73, 37, 37, 0.901);
  text-decoration: none;
}

/* nav
------------------------------*/
nav {
  width: 700px;
  height: 30px;
  margin-top: 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  width: 30%;
}

nav ul li a {
  display: block;
  line-height: 30px;
  color: #999;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid #999;
}

nav ul li:last-child a {
  border-right: none;
}

nav ul li a:hover span {
  border-bottom: 1px solid #333;
  color: #333;
  padding: 0 1em;
}

/* main-visual
------------------------------*/
.main-visual {
  width: 100%;
  height: 800px;
  font-size: 2rem;
  color: #fff;
  background-image: url(../images/dog-g008e4db29_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-left: 90px;
  box-sizing: border-box;
  
}

/* article
------------------------------*/
article {
  padding: 80px 150px 0px;
  margin-top: -50px;
}

article p {
  margin-bottom: 20px;
  padding-bottom: 5%;
}

h2 {
  text-align: left;
  line-height: 30px;
  font-size: 19px;
  color: rgb(88, 100, 96); 
}


#home h2 {
  margin-bottom: 20px;
  font-size: 19px;
  line-height: 24px;
  text-align: left;
  
}

#home p {
  text-align: center;
  margin-bottom: 50px;
}

#information {
  padding-bottom: 50px;
}


/* section
------------------------------*/
section {
  padding: 20px 20px;
 
  
}

h3 {
  line-height: 30px;
  font-size: 1.87rem;
  padding-bottom: 5%;
}

p {
  text-align: justify;
  margin-bottom: 10px;
  font-size: 1.6rem;
}
figure img {
  width: 400px;
  height: auto;
}



/* F&Q
------------------------------*/
dl {
  padding: 20px 20px;
}

dt, dd {
  font-size: 1.6rem;
}

dt {
  margin-bottom: 10px;
}

dd {
  margin-bottom: 20px;
}

/* table
------------------------------*/
table {
  border: 1px solid #333;
  width: 500px;
  height: 50px;
  margin: 0 auto;
  font-size: 1.6rem;
}

th {
  border: 1px solid #333;
  padding: 3px;
}

td {
  text-align: center;
  border: 1px solid #333;
  padding: 3px;
}


/* footer
------------------------------*/
footer {
  background-color: #999;
  padding: 30px 30px;
}

div.flex_conteiner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.foot_conteiner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex_item {
  width: fit-content;
}

section.features_section {
  width: 400px;
}
section.features_section h2 {
  text-align: center;
}
section.features_section h3 {
  text-align: center;
}

small {
  display: block;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}
